@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 20%;
  height: 30%;
  margin-left: 10px;
}
body{
  font-family: 'Noto Serif', serif;
}
header {
  margin-top: 20px;
  margin-left: 900px;
}
#mainContainer {
  border: solid;
  width: 90%;
  border-color: white;
  margin: 0 auto;
}
#titleApp{
  font-size: 300%;
  font-family: 'Noto Serif', serif;
  position: relative;
  top: 40px;
  margin-left: 0% ;
}
#mainMenu {
  max-width: 90%;
  margin-top: 2%;
  margin-left: 50%;
}
#tabsMenu{
  /*temporal*/
}
.tab_Button {
  margin-top: -1rem;
  border: 2px solid;
  border-color: #777;
  float: left;
  width: 20%;
  min-width: 85px;
  padding: 5px;
  background: white;
  margin-right: 10px;
  text-decoration: none;
  text-align: center;
  position: relative;
  border-radius: 5px 5px 0 0;
  transition: all .5s ease;
}
#subMenuTab{
  background: #666;
  width: 100%;
  margin-top: 40px;
  margin-left: 0%;
  position: relative;
  padding: 1rem;
  font-size: -1rem;
  line-height: 1.2;
  z-index: 5;
  /*top: 1rem;*/
  /*left: 0;*/
  /*opacity:-1; tiempo de transicion*/
}
.agentsFilter{
  background-color: silver;
  padding: 4px 15px;
  border-radius: 4px;
  text-align: center;
  border: 1px #666;
}
#secondaryContainer{
 margin-top: 0%;
 margin-left: 0%;
 border: solid;
 border-color: #666;
 position: relative;
}
#content{
  margin-top: 2%;
  margin-bottom: 5%;
  position: absolute;
  left: 2%;
  width: 50%;
  height: 90%;
}
.circleBase{
  border-radius: 50%;
  behavior: url(PIE.htc);
  position: absolute;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  padding: 20px;
  background: silver;
  border: 2px solid black;
}
#addResourcePopup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.overlay {
  position: relative;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
#content div{
  border: solid;
  border-color: #666;
  height: 20%;
  width: 115%;
  border-radius: 20px/30px;
  padding-top: 1%;
  margin-top: 4px;
}
#content div p{
  height: 50%;
  width: 90%;
  font-size: 80%;
  margin-top: 2%;
  margin-left: 15%;
}
#content .delete{
  width:20px;
  height:20px;
  justify-content:center;
  font-size :15px;
  border-radius: 20px/50px;
  background-color:silver;
  font-family:verdana;
  border-style:none;
}
#details{
 margin-left: 70%;
 border-left: 2px solid black;
 border-color: #666;
}
#sumary {
  height: 150px;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 80%
}
#history {
  height: 270px;
  margin-left: 8%;
  margin-right: 8%;
  font-size: 80%
}


/*.viewTab {
  display: none;
  }*/
  /*TABS dashboard | my cruise |Agents | help*/
/*.viewTab:target + .tab div {
  opacity: 1;
  background: #666;
  color: white;
  }*/
  /*TABS span + div del misma transicion*/
/*.viewTab:target + .tab .tab_Button{
  background: #666;
  color: white;
  z-index: 2;
  }*/
 /*.tab_Button:target + #contentTab {
   content: "";
   }*/

   /*EFFECTS*/
   button.tab_Button:hover{
     background: #666;
     color: white;
   }

   .accountant{
    padding-left: 70%;
  }


  .popup button {
    border-radius: 8px;
    border: 1px solid black; 
  }

  .popup input[type="text"]{  
    width: 70%;
    height: 40%;
  }


  /*POPUP*/
  .popup{
    width: 15px;
    height: 5px;
    background-color: silver;
    border-radius: 5px;
    position: relative;
    top: 5em;
    left: 0%;
    padding: 10px;
    line-height: 10px;
    color: black;
  }

  .popup:after{
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid silver;
    border-right: 15px solid transparent;
    position: absolute;
    left: 20%;
    top: -40%; 
  }
